<!DOCTYPE html>
<html>

  <body>
    <div id='sign-up-form'>    
      <h1>Sign up</h1>
      <form id='test' action='/users' method='post'>
        <label>Username: <input id='username' type='text'></label><br>
        <label>Password: <input id='password' type='password'></label><br>
        <label>Password confirmation: <input id='password-confirmation' type='password'></label><br>
        <label>Sign me up!<input type='submit'></label>
      </form>
    </div>
  </body>
</html>